body{
    font-family: 'SignikaNegative-Regular' !important;
}
.logo{
    max-width: 500px;
    max-height: 500px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

.container{
    width: 100% !important;
    margin-top: 30px;
    margin-left: 0 !important;
    margin-bottom: 0 !important;
    margin-right: 0 !important;
    padding: 0 !important;
}

.logonav{
    top: 0px !important;
    padding-top: 0px !important;
    margin-top: 0px !important;
}

.container-fluid{
    margin: 0 auto;
    max-width: 43%;
    float: none !important;
}

@font-face {
  font-family: 'SignikaNegative-Regular';
  src: url('fonts/SignikaNegative-Regular.eot');
  src: url('fonts/SignikaNegative-Regular.woff2') format('woff2'),
       url('fonts/SignikaNegative-Regular.woff') format('woff'),
       url('fonts/SignikaNegative-Regular.ttf') format('truetype'),
       url('fonts/SignikaNegative-Regular.svg#SignikaNegative-Regular') format('svg'),
       url('fonts/SignikaNegative-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SignikaNegative-Bold';
  src: url('fonts/SignikaNegative-Bold.eot');
  src: url('fonts/SignikaNegative-Bold.woff2') format('woff2'),
       url('fonts/SignikaNegative-Bold.woff') format('woff'),
       url('fonts/SignikaNegative-Bold.ttf') format('truetype'),
       url('fonts/SignikaNegative-Bold.svg#SignikaNegative-Bold') format('svg'),
       url('fonts/SignikaNegative-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

.sec4{
    width: 30%;
    margin: 50px auto 0 auto;
    position: relative;
}

.part1sec4{
    margin-bottom: 40px;
    display: inline;
}   


.part1{
    background-image: url(../img/bg1-min.png);
    background-size: cover;
}

.part1sec2{
    background-image: url(../img/bg2-min.jpg);
    background-size: cover;
}

.hpart1s2{
    font-family: 'SignikaNegative-Bold';
    color: white;
    font-size: 60pt;
    text-align: center;
     position: relative;
    top: 45%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.sec3{
    padding-top: 80px;
    padding-left: 80px;
}

span.text-content {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
    height: 38%;
    width: 53%;
    left: 0;
  position: absolute;
  top: 0;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}

.gambarpulau:hover{
    opacity: 1;
}

span.text-content:hover{
    opacity: 1;
}

span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.part1sec3{
    margin-top: 80px;
}

.part11sec3, .part12sec3{
    width: 35%;
    background:rgb(206,222,1);
    background: transparent\9;
    background:rgba(206,222,1,0.4);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4cCEDE01,endColorstr=#4cCEDE01);
    zoom: 1;
}

.part11sec3:nth-child(n){
    filter: none;
}

.part12sec3:nth-child(n){
    filter: none;
}

.h1sec4u{
    text-align: center;
}

.h1part12sec3, .h1sec4, .h1sec4u{
    font-family: 'SignikaNegative-Bold';
    color: #009AE0;
    display: inline;
}

.part2{
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 80px;
    margin-top: 60px;
}

.part2sec2{
    padding-top: 0px;
}

.part2sec21{
    height: 100%;
    background-color: #23BBFC;
}

.part2sec22{
    height: 100%;
    background-color: #00577C;
}

.part3{
    background-color: #F0FC57;
}

.part3sec2{
    padding-top: 70px;
    background-color: #F0FC57;
}

.h1part3sec2{
    width: 100%;
    height: 20px;
    border-bottom: 1px solid black;
    text-align: left;
}

.cblue{
    background-color: #009AE0;
    color:white;
}
.headerp2{
    color: #009AE0;
    font-family: 'SignikaNegative-Bold' !important;
}
.bagianp2{
    margin-bottom: 40px;
    line-height: 2;
}
.judulp3{
    margin-top: 40px;
    margin-left: 50px;
    font-family: 'SignikaNegative-Bold' !important;
    display: block;
}
.videolp1{
    position: absolute;
    display: block;
    margin: auto;
    width: 854px;
    height: 480px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; 
    padding-top: 20px;
}
.gambar2{
    max-height: 500px;
    max-width: 500px;
    margin: 40px;
}
.part4{
    margin-top: 1%;
    text-align: center;
    font-family: 'SignikaNegative-Bold' !important; 
}
.part5{
    margin-top: 30px;
}

.gambarbelakang{
    z-index:-1;
    text-align: center;
    position: absolute;
}

.part43{
    text-align:center; 
    margin-top: 1%;
}
.gambarproject
{    
    padding-top: 4%;
    height: 100%;
    width: 100%;
}

.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:center;
    /* inline-block space fix */
    margin-right:-4px;
}

.gambarapproach{
    text-align: center;
}

.gambarlb, .gambarvisi {
    position: absolute;
    display: block;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.sub-menu-content-1{
    margin:0 auto;
    max-width: 17%;
}

.namaDaerah{
    max-width: 100%;
    background-color : #cedc00;
    text-align: center;
    height: 10%;
    padding: 1%;
}

h1.namaDaerah{
    margin: 0;
}

.takeaction{
    background-color: #009AE0;
    width: 90%;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.donate{
    background-color: #009AE0;
    width: 90%;
    height: 11.5% !important;
    padding: 20px;
    margin: auto;
    display: block;
}

.btn-ta{
    margin-left: 5%;
    background-color: #00E75D;
    font-size: 14pt !important;
    color: white;
}

.btn-donate{
    float: right;
    background-color: #00E75D;
    font-size: 14pt !important;
    color: white;
    margin-right: 5%;
}

.detailsec3{
    width: 100%;
    padding: 3%;
}

.p1sec3{
    background-color: #009E40;
    color: white;
}

.p2sec3{
    
}

.p3sec3{
    background-color: #cedc00;
}

.p1sec3, .p2sec3, .p3sec3{
    width: 100%;
    padding: 2% 20% 2% 20%;
    line-height: 2;
}
.h1p1sec3{
    font-family: 'SignikaNegative-Bold';
}

.img2sec3{
    margin: 0 auto;
    display: block;
}

/*---------partner dan donor ----------------*/


.sub-menu{
    max-width: 100%;
    height: 50px !important;
    background-color : #cedc00;
}

.sub-menu-content {
    margin:0 auto;
    max-width: 11%;
}

.partner {
    margin:0 auto;
    max-width: 80%;
    margin-top: 50px;
}

.partner h2{
    text-align: center;
    margin-bottom: 2%;
    color:#009cde;
}

.partner-utama {
    padding: 2%;
}

.profil-partner {
    padding:2%;
}

.profil-partner h3{
    color:#cedc00;
}

.logo-partner-utama img{
    margin: 0 auto;
    max-width: 50%;
}

.partner-tambahan {
    text-align: center;
    padding: 2%;
}

.logo-partner-tambahan img{
    max-width: 40%;
}


.donor {
    margin:0 auto;
    max-width: 80%;
    margin-top: 50px;
}

.donor h2{
    text-align: center;
    margin-bottom: 8%;
    color:#009cde;
}

.donor-kategori {
    margin-bottom: 10%;
}

.donor-kategori h4 {
    margin-bottom: 4%;
    color:#cedc00;
}

.donor-kategori hr {
    margin-bottom: 4%;
    border-top: 3px double #8c8b8b;
}

.nama-donor-1 p{
    font-size: 28px;
}

.nama-donor-2 p{
    font-size: 20px;
}

.nama-donor-3 p{
    font-size: 16px;
}